.footer {
    font-size: 1rem;
    text-align: center;
    background: linear-gradient(90deg, #3D3072 0%, #423477 100%);
    padding: 1rem;
    color: white;
    height: 100px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: .8rem
}

.social-icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
    filter: brightness(0) saturate(100%) invert(13%) sepia(34%) saturate(607%) hue-rotate(218deg) brightness(91%) contrast(95%);
}

.social-icons img:hover {
    transform: scale(1.2);
}


@media(max-width: 768px){
    .footer{
        font-size: 0.8rem;
    }
}