.projects-container {
  padding: 4rem;
  color: #fff;
}

.projects-container h2 {
  line-height: 4rem;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
  letter-spacing: 1px;
}

/* Grid layout for flexibility */
.projects-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  justify-items: center;
}

.projects-card-content {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid silver;
  border-radius: 1rem;
  width: 100%;
  max-width: 320px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  text-align: left;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projects-card-content:hover {
  transform: scale(1.04);
  box-shadow: 0 0 20px cyan;
}

.project-info h3 {
  font-size: 1.3rem;
  margin-bottom: 0.7rem;
  color: #e0e0ff;
}

.project-info ul {
  padding-left: 1rem;
  list-style: disc;
}

.project-info li {
  font-size: 0.95rem;
  color: #ccc;
  margin-bottom: 0.5rem;
  line-height: 1.4rem;
}

.tech-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  margin-top: auto;
}

.tech-tag {
  background: #1a1a1a;
  border: 1px solid cyan;
  padding: 0.3rem 0.6rem;
  font-size: 0.75rem;
  border-radius: 0.4rem;
  color: cyan;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .projects-container {
    padding: 4rem;
    text-align: center;
  }

  .projects-container h2{
    font-size: 2.5rem;
  }
  .projects-card-content {
    width: 100%;
    max-width: 100%;
    padding: 1.2rem;
  }

  .project-info h3 {
    font-size: 1.2rem;
  }

  .project-info li {
    font-size: 0.9rem;
  }

  .tech-tag {
    font-size: 0.7rem;
  }
}


@media (max-width: 425px) {
  .projects-container {
    margin: -8rem 0;
    padding: 2rem;
  }

  .projects-container h2 {
    margin-top: 2rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .projects-card-content {
    padding: 1rem;
    min-height: 200px;
  }

  .project-info h3 {
    font-size: 1rem;
  }

  .project-info li {
    font-size: 0.85rem;
  }

  .tech-tag {
    font-size: 0.65rem;
    padding: 0.2rem 0.4rem;
  }
}